/* Empty. Add your own CSS if you like */
@import url(https://fonts.googleapis.com/css?family=Lato:300);
@font-face {
	font-family: Junction;
	src: url("junction-regular/Junction.otf") format("opentype");
}

body{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}
input, button, select, textarea {
  font-family: 'Lato', sans-serif; 
}

.appIcon {
	text-align: center;
}

.appIcon img {
	width: 60px;
	height: 60px;
}

.input-div {
	position: relative;
	margin: 0 20px;
}

.input-div .icon {
	position: absolute;
	font-size: 38px;
}

.input-div .ion-locked {
	font-size: 30px;
}

.button-div {
	margin: 0 20px;
}

.social-button {
	background-image: url('../img/socialSprite.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
}
.button-fb {
	background-position: -62px 0;
}

.button-twitter {
	background-position: 0 0;
}
.back-button {
	display: none !important;
}
ion-side-menu-content {
	border-left: 0 !important;
}

ion-nav-bar .bar-header.disable-user-behavior {
	width: 285px;
}

ion-content {
	color: white;
}

.left-menu .scroll{
	height: 100%;
    transform: none !important;
	
}

.left-menu-list {
	height: 100%;
	position: relative;
	overflow-y: hidden;
	overflow-x: hidden;
	-webkit-transition-property: left;
	-webkit-transition-duration: 1s;
	transition-property: left;
	transition-duration: 1s;
	left: 0;
	background: #252E3D;
	background: url('../img/slide3.jpg');
}

.left-menu li{
	height: 60px;
	/*background: #252E3D !important;*/
	overflow: hidden;
	padding: 10px 5px;
	box-sizing: border-box;
	text-align: left;
	padding-left: 20%;
	color: white;
	padding-left: 15%;
	letter-spacing: 1.25px;
	
}

.left-menu-list .item {
	border: 0;
	background: 0;
}

.left-menu-list .list1 {
	/*background: #22A7F0;*/
	height: 200px;
	padding-left: 0;
}
/*.left-menu-list .list2 {
	background: #FFA631;
}
.left-menu-list .list3 {
	background: #F9690E;
}*/
.left-menu-list .list4 {
	/*background: #049372;
	padding-top: 17px;*/
}
.left-menu-list .list5 {
	/*background: #1F4788;
	padding-top: 17px;*/
}
.left-menu-list .list6 {
	/*background: #8E44AD;*/
}
.left-menu .sublist1 {
	background: #26C281;
}
.left-menu .sublist2 {
	background: #F9690E;
}
.left-menu .sublist3 {
	background: #C91F37;
}
.left-menu .sublist4 {
	background: #8E44AD;
}
.left-menu .sublist5 {
	background: #F62459;
}
.left-menu .sublist6 {
	background: #22A7F0;
}
.left-menu .sublist7 {
	background: #F4D03F;
}

.iconList::before, .fa-icon-list .fa {
	font-size: 33px;
	display: inline-block;
	padding-right: 10px;
	vertical-align: middle;
	color: #179A99;
}

.tag-list, .site-list {
	height: 100%;
	position: absolute;
	top: 0;
	left: 100px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-transition-property: left;
	-webkit-transition-duration: 1s;
	transition-property: left;
	transition-duration: 1s;
	background: white;
	z-index: 10;
	color: white;
	display: none;
}

.tag-list .utility, .site-list .utility{
	height: 35px;
	text-align: center;
	padding: 5px;
	background: #9B59B6;
	position: absolute;
	width: 100%;
}

.tag-list .back-tag {
	padding-top: 7px;
}
.tag-list .back-tag::before, .site-list .back-site::before  {
	margin: 0 8px 0 0;
}
.tag-list .add-tag, .site-list .add-site {
	bottom: 0;
	height: 50px;
	background: #d35400;
	font-size: 40px;
}
.tag-list .tag-ul, .site-list .site-ul {
	position: absolute;
	width: 100%;
	top: 35px;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100%;
	padding-bottom: 85px;
	background: lightgrey;
}

.tag-list .tag-ul li, .site-list .site-ul li{
	height: 50px;
	padding-top: 16px;
}
.tag-ul li, .site-ul li{
	padding: 10px;
	background: white;
	border: 1px solid #1D5089;
	border-top: 0;
	border-radius: 2px;
	font-size: 18px;
	box-shadow: 10px 10px 5px #f1f1f1;
	color: black;
	box-shadow: none;
	cursor: pointer;
}

.tag-ul li:first-child, .site-ul li:first-child {
	border-top: 1px solid #1D5089;
}

.add-tag.utility { 
	background: #179A99;
	padding: 10px 5px;
	border-radius: 3px;
	width: 100%;
	font-size: 18px;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.sub-header-div {
	padding-top: 50px;
	text-align: center;
	margin: 5px 10px 15px;
}

.tag-ul, .site-ul {
	margin: 0 5px;
}

.site-ul div {
	display: inline-block;
	vertical-align: 13px;
	padding-left: 5px;
}

.site-ul img {
	width: 40px;
} 

.site-ul li span {
	font-size: 20px;
	padding-top: 12px;
	padding-right: 5px;
}

.add-site-ul {
	margin-top: 60px;
}

.tag-ul li span, .site-ul li span {
	float: right;
	
}

.ion-close-round {
	color: #DC6567;
}

.ion-plus-round {
	font-size: 23px;
	color: #179A99;
}

.add-tag.ion-plus-round:before {
	padding-right: 10px;
}

.tag-list .tag-ul li{
	padding-top: 5px;
}

.tag-list.swipe, .site-list.swipe {
	left: 0;
}

.bar.item-input-inset .item-input-wrapper .searchInput {
	color: #0D1730;
	font-size: 18px;
	line-height: 21px;
}

input::-webkit-input-placeholder {
    color: #0D1730;
}

.tab-nav.tabs {
	border-bottom: 0;
	height: 50px;
	top: 43px;
	padding-top: 6px;
}

.tab-nav.tabs .tab-item{
	font-size: 14px;
	border: 1px solid white;
	height: 30px;
	margin-top: 1px;
	font-weight: bold;
	opacity: 1;
	font-family: inherit;
	color: white;
}

.tab-nav.tabs .tab-item .icon:before {
	font-size: 20px;
	line-height: 20px;
	vertical-align: 12px;
	padding-right: 1px;
}

.tab-nav.tabs .tab-item .tab-title {
	vertical-align: top;
	display: inline-block;
	margin-top: -10px;
}

.tabs-top.tabs-striped .tab-item.tab-item-active > i {
	margin-top: -0.1em;
}

.tabs-icon-left > .tabs .tab-item:first-of-type {
    margin-left: 10px;
    border-radius: 3px 0 0 3px;
	border-right: 0;
}

.tabs-icon-left > .tabs .tab-item:last-of-type {
    margin-right: 10px;
    border-radius: 0 3px 3px 0;
	border-left: 0;
}

.title.title-center.header-item, .title.title-left.header-item {
	font-weight: bold;
	font-size: 18px;
}

.left-menu-list.swipe{
	left: -100px;
}

ion-header-bar.bar-positive.topBar.bar.bar-header {
	background: #0D1730;
	width: 100%;
}

.tab-nav.tabs, .nav-bar-block > .topBar, .tabs-striped.tabs-positive .tabs {
	background: #0D1730;
	opacity: 1;
}

.tabs-icon-top > .tabs .tab-item {
font-size: 13px;
}

.tabs-top.tabs-positive a.tab-item.tab-item-active {
	background: white;
	color: #0D1730;
}

.tabs-icon-left > .tabs .tab-item {
	font-size: 16px;
}

#userProfile .photo {
	margin: 0 auto;
	display: block;
	width: 80px;
	height: 80px;
	border: 2px solid white;
	border-radius: 40px;
	margin-top: 25px;
}
#userProfile .username {
	text-align: center;
	padding-top: 10px;
	font-weight: bold;
}

#userProfile .screenname {
	text-align: center;
	padding-top: 10px;
	font-weight: normal;
}


#loginForm {
	margin: 80px 25px 10px;
}

#loginForm .item-input {

	width: 100%;
	border-bottom: 1px solid lightgray;
	text-align: left;
	height: 45px;
	padding: 4px 40px 0;
	font-size: 18px;
	background: transparent;
	color: white;
	margin-bottom: 15px;
	font-weight: bold;
}

#loginForm input::-webkit-input-placeholder {
    color: white;
}

#loginForm button {
	background: #21ACF1;
	border: 0;
	width: 100%;
	min-height: 39px;
	line-height: 33px;
	font-size: 20px;
	font-weight: bold;
}

#loginForm .item-input.has-errors::-webkit-input-placeholder {
   color: #B83E2C;
  
}

#loginForm .item-input.has-errors:-moz-placeholder { /* Firefox 18- */
   color: #B83E2C;  
}

#loginForm .item-input.has-errors::-moz-placeholder {  /* Firefox 19+ */
   color: #B83E2C;  
}

#loginForm .item-input.has-errors:-ms-input-placeholder {  
   color: #B83E2C;  
}

#loginForm .item-input.no-errors {

}

ion-view, ion-view.pane {
	/*background: url('../img/b1.jpg');*/
	background: #F8F4F1;
	background-repeat: no-repeat;
	background-size: cover;
}

ion-view.loginPage {
	background: url('../img/slide3.jpg');
	background-repeat: no-repeat;
	
}


.loginPage .title {
	text-align: center;
	color: white;
	font-size: 30px;
	margin-top: 10px;
}

.news .item {
	position: relative;
	margin: 5px;
	border-radius: 5px;
	background: white;
	padding: 10px;
	font-size: 14px;
	line-height: 15px;
}


.news ion-item > .item-content {
	background: transparent;
	white-space: initial;
}
.news .item > div {
	white-space: initial;
	color: black;
}

.news .item .n-title {
	font-weight: bold;
	padding-bottom: 5px;
	font-size: 16px;
	line-height: 20px;
}

.news .item .n-content {
	 clear: left;
	 padding-bottom: 8px;
	 font-size: 16px;
	line-height: 22px;
	padding-top: 8px;
}
.news .item .n-social {
	float: right;
}

.news .item .n-site {
	float: left;
	height: 30px;
	padding-top: 4px;
	color: #179A99;
	font-weight: bold;
	font-size: 15px;
}

.n-site span {
	font-size: 20px;
	vertical-align: -3px;

}

.news .item .n-social .socIcon{
	 background: url('../img/socialSprite.png');
	 height: 29px;
	width: 30px;
	display: inline-block;
	background-size: 136px 30px;
}
.news .item .n-social .fb{
	 background-position: 98px 30px;
}
.news .item .n-social .twitter {
	 background-position: 132px 30px;
}
.news .item .n-time {

}
.news .item .n-time::before {
	padding-right: 2px;
}

.news .item .n-author, .news .item .n-time {
	color: gray;
	display: inline-block;
	font-weight: bold;
	font-size: 16px;
}

.news .item .n-author span {
	color: black;
}

.news .item .n-image {
	float: left;
	padding-right: 8px;
	height: 70px;
	width: 70px;
	margin-bottom: 10px;
}

.news .item .n-tags {
	clear: both;
	padding: 5px 0;
	color: #0084B4;
	font-weight: bold;
	font-size: 15px;
}

.news .item .n-similar-news {
	height: 30px;
	padding-top: 4px;
	color: #DC6567;
	font-weight: bold;
	font-size: 16px;
	text-decoration: underline;
	text-align: center;
}



.home-button {
	position: absolute;
	color: white;
	font-size: 30px;
	top: 6px;
	right: 8px;
	z-index: 10;
}


/*  NEWS LIST*/
.content-scroll {
	overflow-y: scroll;
}

.loading {
	display: none;
	text-align: center;
}

.location {
	padding-left: 8px;
}

.tag-suggest .item.ng-binding {
	padding: 10px;
	background: white;
	border-radius: 2px;
	font-size: 18px;
	border: 1px solid #1D5089;
}
.tag-suggest {
	margin: 5px 5px 0;
}
 
#addTagResult {
	color: #0CBFA1;
	font-weight: bold;
	font-size: 18px;
	line-height: 40px;
	margin-left: 20px;
}

.addTagsHeader {
	background: #0D1730;
}

.tag-suggest .ion-plus-round {
	float: right;
	color: #0CBFA1;
	font-size: 22px;
}

.pane, .view {
	overflow-y: scroll;
}

.tags-in-news .list {
	display: inline-block;
	margin: 0 3px 5px;
}

.tags-in-news .list::after {
	content: '|';
}

.tags-in-news:last-child .list::after {
	content: '';
}

.similarNewsContent {
	display: none;
}

.similarNewsloading {
	display: block;
}

#refresh {
	background: transparent;
	box-shadow: none;
	border: 0;
	padding-top: 20px;
	width: 100%;
	height: 40px;
}

@media screen and (min-width: 600px) {
	.left-menu li {
	    height: 50px;
	    cursor: pointer;
	}
    ion-side-menu-content.menu-content.pane{
    	width: calc( 100% - 240px) !important;
    	transform: translate3d(240px, 0px, 0px) !important;
	}
	ion-side-menu-content.menu-content.pane.full-page{
    	width:  100% !important;
    	transform: translate3d(0px, 0px, 0px) !important;
	}

	.buttons.buttons-left.header-item, span.ion-home.home-button{
		display: none;
	}

	ion-side-menu.menu {
   		width: 240px !important;
	}
	ion-side-menu-content.menu-content.pane {
    	width: 75%;
	}
	ion-side-menu.menu {
		
	}

	#loginForm {
	    margin: 0 auto;
	    width: 400px;
	    background: rgba(295, 295, 295, 0.4);
	    padding: 20px;
	    border-radius: 5px;
	    margin-top: 30px;
	    color: grey;
	}
	.loginPage .title {
		font-size: 50px;
		font-family: inherit;
		font-weight: bold;
		margin-top: 75px;
	}
	.loginPage .title span{
		vertical-align: 15px;
    	padding-left: 15px;
	}
	.loginPage .watson-logo {
		width: 70px;
	}
	
	.right-side-main {
		float: left;
		width: 30%;
		margin-top: 2px;
	} 
	.left-side-main {
		float: left;
		width: 70%;
	}
	.tab-nav.tabs, .nav-bar-block > .topBar, .tabs-striped.tabs-positive .tabs {
		    background: transparent;
	}
	.content-scroll {
		padding: 0 20px;
	}
	ion-header-bar.bar-positive.topBar.bar.bar-header {
		    background: transparent;
	}
	ion-side-menus.view {
		background: url('../img/copy/b6.jpeg');
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	ion-view.loginPage {
		background: url('../img/copy/b9.jpeg') !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
	}
	ion-view.loginPage .scroll-content {
		top: 0;
		background: rgba(0, 0, 0, 0.4);
	}



	ion-side-menu-content.menu-content.pane {
		background: rgba(0,0,0, 0.4);
	}

	.menu-content ion-view, .menu-content ion-tabs {
		background: transparent;
	}

	ion-side-menu.menu {
		background: rgba(0,0,0, 0.4);
	}

	.left-menu .left-menu-list {
		background: transparent;
	}
	.left-menu-list {
		font-weight: bold;
	}

	.iconList::before, .fa-icon-list .fa {
		color: white;
	}
	.has-tabs-top {
		top: 130px;
	}
	.tab-nav.tabs {
		top: 80px;
	}
	.custom-header .title {
	    height: 70px;
	    cursor: pointer;
	}
	.tab-nav.tabs .tab-item {
		max-width: 250px;
	}

	.bar-positive.custom-header.bar.bar-header{
	    background: transparent;
	    top: 0;
	}

	.custom-header .title img, .watson-logo{
		width: 60px;
	    background: white;
	    border-radius: 34px;
	}

	.custom-header .title span{
	    display: inline-block;
	    vertical-align: 15px;
	    font-size: 40px;
	    padding-left: 12px;
	}
	.tag-suggest {
		margin: 50px 5px 0;
	}
	#addTagResult {
	    color: white;
	    margin-top: 45px;
	}
	.following_trending_tags {
	    background: rgba(255,255,255,0.8);
	    /* color: black; */
	    line-height: 30px;
	    padding: 10px;
	    margin: 0 20px;
	    border-radius: 6px;
	    font-family: Junction;
	    font-size: 14px;
	    /* color: #0084B4; */
	}
	.following_trending_tags h3 {
	    font-family: inherit;
	    font-size: 16px;
	    margin-top: 10px;
	    color: white;
	    text-align: center;
	    color: red;
	    font-size: 20px;
	}
	.following_trending_tags .news, .trending_tags .news {
		cursor: pointer;
	}
	.following_trending_tags .news:nth-child(2) {
		color: #CC2200;
	}
	.following_trending_tags .news:nth-child(3) {
		color: #E24800;
	}
	.following_trending_tags .news:nth-child(4) {
		color: #ff7200;
	}
	.following_trending_tags .news:nth-child(5) {
		color: #FF9C00;
	}
	.move-down-content {
		top: 90px;
	}

	.list6, .list5, .list4 {
		display: none;
	}
	.iconList::before, .fa-icon-list .fa {
		font-size: 25px;
	}
	.subheader {
	    text-align: center;
	    font-size: 21px;
	    font-family: Junction;
	    margin: 20px;
	}
	
}

@media screen and (max-width: 600px) {
	.right-side-main {
		display: none;
	}
	.bar-positive.custom-header.bar.bar-header{
	    background: #0D1730;
	    top: 0;
	}

	.custom-header .title img, .watson-logo{
		width: 35px;
		background: white;
		border-radius: 34px;
	}

	.custom-header .title span{
		vertical-align: 8px;
    	font-size: 22px;
	    padding-left: 3px;
	    line-height: 20px;
	}

	.custom-header .title {
	    height: 40px;
	    margin-top: 5px !important;
	}
	.loginPage .title {
	    font-family: inherit;
	    font-size: 35px;
	    font-weight: bold;
	}

	.loginPage .watson-logo {
	    display: block;
	    margin: 0 auto;
	    width: 60px;
	}
	.sub-header-div {
		padding-top: 10px;
	}
	.tag-suggest {
	    margin: 50px 5px 0;
	}
	.addtags {
	    top: 0px;
	}
	#addTagResult {
	    margin-top: 45px;
	}
	.following_trending_tags {
		display: none;
	}
	.subheader {
	    display: none;
	}
}

@media screen and (min-width: 600px) and (max-width: 750px){
	.right-side-main {
		display: none;
	}
	.left-side-main {
		width: 100%;
	}
	ion-side-menu.menu {
	margin-left: 0px;
	}
	ion-side-menu.menu {
   		width: 275px !important;
	}
	ion-side-menu-content.menu-content.pane {
    	width: calc( 100% - 275px) !important;
    	transform: translate3d(275px, 0px, 0px) !important;
	}

}

.hide {
	display: none;
}
.n-site, .n-social .socIcon, .n-tags, .n-similar-news {
    cursor: pointer;
}

i.icon.ion-android-favorite {
    color: red;
    /* color: #E41B17; */
}

i.icon.ion-arrow-graph-up-right {
    color: #00b2FF;
    /* color: #05AFF7; */
    /* color: #1589FF; */
}

i.icon.ion-android-time {
    color: #FFD801;
}

.nav-bar-block ion-header-bar {
	display: none;
}


.watson-feel {
	background-image: url('../img/smiley/crazy.png');
	background-repeat: no-repeat;
    background-size: 25px;
    background-position: 107px 2px; 
    color: black;
}
.watson-feel.positive {
	background-image: url('../img/smiley/fantastic.png');
}
.watson-feel.negative {
	background-image: url('../img/smiley/shocked.png');
}

.watson-feel span {
    padding-left: 27px;
    font-weight: bold;
}

.watson-feel-main {
	background: rgba(255,255,255,0.8);
    color: black;
    line-height: 30px;
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    font-family: Junction;
}

#watson-mood-select{
	border: 1px solid grey;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
    box-shadow: none;
    background-color: transparent;
    padding: 4px 8px 0px;
    width: 114px;
    font-size: 16px;
    line-height: 25px;
    margin-left: 34px;
    font-family: Junction;
}

[nav-view-transition="ios"][nav-view-direction="forward"], [nav-view-transition="ios"][nav-view-direction="back"] {
	background: transparent;
}

.item-input-inset .item-input-wrapper input.searchInput {
	font-size: 20px;
}

.trending_tags {
    background: rgba(255,255,255,0.8);
    color: black;
    line-height: 30px;
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    font-family: Junction;
    color: #0084B4;
}
.trending_tags h3 {
    font-family: inherit;
    font-size: 16px;
    margin-top: 10px;
    color: black;
}

.trending_tags h3 > span {
    color: #E42217;
}